<footer class="ftr">
  <div class="ftr-ribs" aria-hidden="true"></div>
  <div class="wrap ftr-in">
    <div>
      <a class="brand" href="{{link:domov}}"><span class="brand-name">Microflex</span><span class="brand-sub">Slovensko</span></a>
      <p class="muted" style="max-width:32em">Prezentačný web predizolovaného potrubia Microflex pre Slovensko. Predaj a sklad zabezpečuje <a href="https://www.instalatershop.sk/">instalatershop.sk</a>.</p>
    </div>
    <div>
      <h3>Potrubia</h3>
      <ul>
        <li><a href="{{link:kategoria}}">Pre vykurovanie</a></li>
        <li><a href="#">Pre teplú a studenú vodu</a></li>
        <li><a href="#">Vykurovanie a sanita v jednom</a></li>
        <li><a href="#">Studená a chladená voda</a></li>
        <li><a href="#">Tepelné čerpadlá</a></li>
        <li><a href="#">Spojky</a></li>
        <li><a href="#">Príslušenstvo</a></li>
      </ul>
    </div>
    <div>
      <h3>Podklady</h3>
      <ul>
        <li><a href="#">Katalóg Microflex (PDF, 19 MB)</a></li>
        <li><a href="#">Technické listy</a></li>
        <li><a href="#">BIM a CAD</a></li>
        <li><a href="#">Vyhlásenia o zhode a EPD</a></li>
        <li><a href="#">Poradňa</a></li>
      </ul>
    </div>
    <div>
      <h3>Prevádzkovateľ</h3>
      <ul>
        <li>Inštalatérshop, Staškov 200</li>
        <li class="muted">IČO a DIČ doplníme</li>
        <li><a href="#">Telefón doplníme</a></li>
        <li><a href="#">E-mail doplníme</a></li>
      </ul>
    </div>
  </div>
  <div class="wrap ftr-bottom">
    <span>Microflex je ochranná známka skupiny Watts. Tento web prevádzkuje predajca, nie výrobca.</span>
    <span>© 2026 Microflex Slovensko</span>
  </div>
</footer>
